/* =============
    Demo
============= */

$maroon: #800000;

.round{
    height: 200px;
    width: 200px;
    margin-bottom: 300px;
    border-radius: 200px;
}

.ball-m{
    height: 100px;
    width: 100px;
    border-top: 30px solid #C66;
    border-bottom: 30px solid #6C6;
    border-left: 30px solid #66C;
    border-right: 30px solid #CC6;
}

.square {
    height: 200px;
    width: 200px;
    margin-bottom: 300px;
}

.square-t{
  height: 100px;
    width: 100px;
    border-top: 30px solid #C66;
    border-bottom: 30px solid #6C6;
    border-left: 30px solid #66C;
    border-right: 30px solid #CC6;
    
}

#text {
  color: $maroon;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 50px;
}